extends ../layout
 
block title
  | #{article.Title}

block content  
  h2 <span class="glyphicon glyphicon-file"></span> #{article.Title}
  +article_meta(article)  
  div
    .btn-group
      button(type="button").btn.btn-default.btn-sm: i.glyphicon.glyphicon-star
      button(type="button").btn.btn-default.btn-sm: i.glyphicon.glyphicon-star
      button(type="button").btn.btn-default.btn-sm: i.glyphicon.glyphicon-star
      button(type="button").btn.btn-default.btn-sm: i.glyphicon.glyphicon-star
      button(type="button").btn.btn-default.btn-sm: i.glyphicon.glyphicon-star
    |  3 (184 votes)
  div!= markdownHelper.renderMarkdown(article.Text)
  hr
  if !article.Comments
    p.text-muted No comments so far
  else    
    ul.list-unstyled
      for comment in article.Comments
        li
          +comment_meta(comment)
          div!= markdownHelper.renderMarkdown(comment.Text)
          hr

