extends ../layout

block title
  | Categories

block content
  h2 List of categories
  ul.list-unstyled
    for category in categories
      li
        h2
          | <span class="glyphicon glyphicon-book"></span> 
          a(href="/category/#{category.CategoryId}") #{category.Name}
        ul.list-unstyled
          for article in category.RecentArticles
            li
              h3 <span class="glyphicon glyphicon-file"></span> #{article.Title}
              +article_meta(article)
              p: a(href="/article/#{article.ArticleId}") (Read...)
              
