include mixins

doctype 5
html
  head
    title Blogs - 
      block title
    link(rel="stylesheet", href="/assets/css/bootstrap.min.css")
  body
    div.container
      div.page-header
        h2 Blogs 
          block title
      ul.list-inline
        li
          | <span class="glyphicon glyphicon-home"></span> 
          a(href="/") Home
        li
          | <span class="glyphicon glyphicon-book"></span> 
          a(href="/category") Categories    
      block content
      hr
      p &copy; loki2302
