extends ../layout

block title
  | Home

block content
  p current time is #{currentTime}
  p service says #{whatServiceSays}
  h2 List of categories
  ul
    for category in categories
      li: a(href="/category/#{category.Id}") #{category.Name}
