doctype 5
html
  head
    title hello world
    link(rel="stylesheet", href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css")
  body
    div.container
      div.page-header
        h2 Hello world 
          block title
      ul.list-inline
        li: a(href="/") index
        li: a(href="/markdown") markdown
       
      block content
      hr
      p &copy; loki2302